@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>欢迎你周磊</h2>
@*@Html.Action("Index", "NotOnlyOneButton", null)*@
@using(Html.BeginForm("Insert", "NotOnlyOneButton", FormMethod.Post, null)){
    <input type="submit" alt="提交" />
}

<div>
    <div id="header">
        <span>表名:</span>
        <span>@Html.DropDownList("allTables", (IEnumerable<SelectListItem>)ViewData["tables"])</span>
    </div>
</div>

    
